body{
    background-position: center; 
   background-size: cover;
}
img{
    height: 150px;
}
#img2{
   float: right;
}
#volumebtn{
float: left;
}
#speedbtn{
    float: right;
}
.copy_right_footer{
    position:fixed;
    color:magenta;
    bottom:0;
    width:100%;
    background-color: lightyellow;
    line-height:3;
    text-align:center;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px grey;
    margin-top: 250px;
    }